:root {
	color-scheme: light dark;

	--color-wf: light-dark(#3e3e3e, #f9f9f9);
	--color-inverted-wf: light-dark(#f9f9f9, #3e3e3e);
	--font-family-wf: "SF Pro", "San Francisco", "Roboto Flex", "Segoe UI Variable", Helvetica, sans-serif;


	/* general */
	--transition-time: 500ms;
	--color: var(--color-wf);
	--line-height: 2rem;


	/* press (general press-able items) */
	--press_background: none;
	--press_border: 2px solid var(--color-wf);
	--press_color: var(--color-wf);
	--press_font: var(--font-family-wf);
	--press_border-radius: 4px;
	--press_content_checked: '\2714';
	--press_content_indeterminate: '\2014';


	/* button */
	--button_border: 2px solid var(--color-wf);
	--button_border-radius: 4px;
	--button_font: var(--font-family-wf);
	--button_background: 2px solid var(--color-wf);
	--button_color: 0.5rem;
	--button_padding-block: 0.5rem;
	--button_padding-inline: 1rem;


	/* checkbox */
	--checkbox_border: 2px solid var(--color-wf);
	--checkbox_border-radius: 4px;
	--checkbox_font: var(--font-family-wf);
	--checkbox_block-size: 1.5rem;
	--checkbox_color_checked: var(--color-inverted-wf);
	--checkbox_background_checked: var(--color-wf);
	--checkbox_content_checked: '\2714';
	--checkbox_content_indeterminate: '\2014';


	/* switch / toggle */
	--switch_inline-size: 3rem;
	--switch_block-size: 1.75rem;
	--switch_border-radius: 1.75rem;
	--switch_border: 2px solid var(--color-wf);
	--switch_background: none;

	--switch-island_inline-size: 0.5rem;
	--switch-island_block-size: 0.5rem;
	--switch-island_color: var(--color-wf);
	--switch-island_font: var(--font-family-wf);
	--switch-island_border-radius: 50%;
	--switch-island_border: 2px solid var(--color-wf);
	--switch-island_background: none;

	--switch-island_inline-size_checked: 1rem;
	--switch-island_block-size_checked: 1rem;
	--switch-island_content_checked: '\2714';
	--switch-island_border_checked: 2px solid var(--color-wf);
	--switch-island_color_checked: var(--color-inverted-wf);
	--switch-island_background_checked: var(--color-wf);


	/* radio */
	--radio_border: 2px solid var(--color-wf);
	--radio_background: none;
	--radio_block-size: 1.5rem;

	--radio-island_border: none;
	--radio-island_background: none;
	--radio-island_block-size: 1rem;
	--radio-island_border_checked: none;
	--radio-island_background_checked: var(--color-wf);


	/* text (general keyboard input) */
	--text-input_color: var(--color-wf);
	--text-input_font: var(--font-family-wf);
	--text-input_background: none;
	--text-input_border: 1px solid var(--color-wf);
	--text-input_border-radius: 0;
	--text-input_border-block-start: ;
	--text-input_border-block-end: ;
	--text-input_border-inlne-start: ;
	--text-input_border-inlne-end: ;
	--text-input_border-start-start-radius: ;
	--text-input_border-start-end-radius: ;
	--text-input_border-end-start-radius: ;
	--text-input_border-end-end-radius: ;

	--text-input_padding-inline: ;
	--text-input_padding-block: ;

	
	/* text disabled */
	--text-input_background_disabled: ;
	--text-input_border_disabled: ;
	--text-input_opacity_disabled: ;
}