/* https://developer.apple.com/design/human-interface-guidelines/buttons */

:is(button) {
	appearance: none;
	cursor: pointer;
	display: inline-flex;
	position: relative;

	background: var(--button_background);
	border-radius: var(--button_border-radius);
	border: var(--button_border-width) solid var(--button_border-color);
	color: var(--button_color);
	font: var(--button_font);
	padding-block: var(--button_padding-block);
	padding-inline: var(--button_padding-inline);
	transition: var(--transition-time);

	@media (hover: hover) {
		&:hover {
			background: var(--button_background_hover);
			border: var(--button_border-width) solid
				var(--button_border-color_hover);
			color: var(--button_color_hover);
		}
	}

	&:focus {
		background: var(--button_background);
		border-color: var(--button_border-color);
		color: var(--button_color);
	}

	&:active {
		background: var(--button_background_active);
		border: var(--button_border-width) solid
			var(--button_border-color_active);
		color: var(--button_color_active);
	}

	&:disabled {
		cursor: not-allowed;

		opacity: var(--opacity_disabled);
	}

	&:is([data-wf="primary"]) {
		background: var(--primary-button_background);
		border-color: var(--primary-button_border-color);
		color: var(--primary-button_color);

		@media (hover: hover) {
			&:hover {
				background: var(--primary-button_background_hover);
				border-color: var(--primary-button_border-color_hover);
				color: var(--primary-button_color_hover);
			}
		}

		&:active {
			background: var(--primary-button_background_active);
			border-color: var(--primary-button_border-color_active);
			color: var(--primary-button_color_active);
		}
	}

	&:is([data-wf="destructive"]) {
		background: var(--destructive-button_background);
		border-color: var(--destructive-button_border-color);
		color: var(--destructive-button_color);

		@media (hover: hover) {
			&:hover {
				background: var(--destructive-button_background_hover);
				border-color: var(--destructive-button_border-color_hover);
				color: var(--destructive-button_color_hover);
			}
		}

		&:active {
			background: var(--destructive-button_background_active);
			border-color: var(--destructive-button_border-color_active);
			color: var(--destructive-button_color_active);
		}
	}
}
