input[type=checkbox] {
	appearance: none;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	cursor: pointer;

	block-size: var(--checkbox_block-size);
	inline-size: var(--checkbox_block-size);
	font: var(--checkbox_font);
	background: var(--checkbox_background);
	border: var(--checkbox_border);
	border-radius: var(--checkbox_border-radius);
	transition: all var(--transition-time);

	&:before {
		content: var(--checkbox_content_checked, '\2714');
	}

	&:checked {
		border: var(--checkbox_border_checked, var(--checkbox_border));
		color: var(--checkbox_color_checked, var(--checkbox_color));
		background: var(--checkbox_background_checked, var(--checkbox_background));
	}

	&:indeterminate::before {
		content: var(--checkbox_content_indeterminate);
	}

	/* edge case where checkbox is checked AND disabled */
	&:disabled {
		cursor: not-allowed;

		border: var(--checkbox_border_disabled, var(--checkbox_border));
		background: var(--checkbox_background_disabled, var(--checkbox_background));

		&:checked {
			color: var(--checkbox_color_disabled, var(--checkbox_color));
		}
	}
}