meter {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	margin: 0;
	color: #efefef;
	border: 2px solid #efefef;
	height: 16px;
	cursor: pointer;
}


meter::-webkit-meter-bar {}
meter::-webkit-meter-optimum-value {}
meter::-webkit-meter-suboptimum-value {}
meter::-webkit-meter-even-less-good-value {}
meter::-webkit-meter-inner-element {}