input[type=time], input[type=date], input[type=datetime-local], input[type=number], input[type=phone] {
	appearance: none;
	position: relative;
	display:inline-flex;
	cursor: initial;

	transition: all var(--transition-time);

	font: var(--number-input_font, var(--text-input_font));
	color: var(--text-input_color);
	background: var(--text-input_background);
	border: var(--text-input_border);
	border-radius: var(--text-input_border-radius);
	/* line-height: var(--line-height); */

	/* border-end-start-radius: var(--text-input_border-radius-bottom);
	border-end-end-radius: var(--text-input_border-radius-bottom);
	border-inline-start: var(--text-input_border); */
	border-block-end: var(--text-input_border-block-end);
	padding-inline: var(--text-input_padding-inline);
	padding-block: var(--text-input_padding-block);

	/* padding-inline: calc(0.5 * (1lh - 1ch)); */

	cursor: pointer;

	&:focus {
		outline: none;
		cursor: initial;
	}
	
	&:disabled {
		cursor: not-allowed;

		background: var(--text-input_background_disabled);
		border: var(--text-input_border_disabled);
		opacity: var(--text-input_opacity_disabled);	
	}

		&::placeholder {
		/* colors */
	}
}