progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: none;
  background: none;
  border: 2px solid var(--color-wf);
  height: var(--line-height);
  margin: 0;
  overflow: hidden;
  border-radius: var(--progress_border-radius);
}

progress::-moz-progress-bar {
  background: #efefef;
}

progress::-webkit-progress-bar {
  background: none;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background: #efefef;
}
