progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border: var(--progress_border-width) solid var(--progress_border-color);
	block-size: var(--progress_block-size);
	margin: 0;
	overflow: hidden;
	background: var(--progress_background);
	border-radius: var(--progress_border-radius);
}

progress::-moz-progress-bar {
	background: var(--progress-bar_background);
}

progress::-webkit-progress-bar {
	background: var(--progress_background);
	overflow: hidden;
}

progress::-webkit-progress-value {
	background: var(--progress-bar_background);
}
