:is(input[type=radio]) {
	appearance: none;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	opacity: 1;
	position: relative;

	border: var(--radio_border);
	block-size: var(--radio_block-size);
	inline-size: var(--radio_block-size);
	background: var(--radio_background);
	transition: all var(--transition-time);

	/* radio island */
	&::before {
		content: '';
		border-radius: 50%;
		
		background: var(--radio-island_background);
		border: var(--radio-island_border);
		inline-size: var(--radio-island_block-size);
		block-size: var(--radio-island_block-size);
		transition: all var(--transition-time);
	}

	&:checked {
		&::before {
			border: var(--radio-island_border_checked, var(--radio-island_border));
			background: var(--radio-island_background_checked, var(--radio-island_background));
		}
	}

	&:disabled {
		cursor: not-allowed;

		opacity: var(--opacity_disabled, 1);
	}
}
