input[type=radio] {
	appearance: none;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;

	transition: all var(--transition-time);

	border: var(--radio_border);
	background: var(--radio_background);
	block-size: var(--radio_block-size);
	inline-size: var(--radio_block-size);

	/* radio island */
	&::before {
		content: '';
		display: block;
		inline-size: var(--radio-island_block-size);
		block-size: var(--radio-island_block-size);
		border-radius: var(--radio-island_block-size);
		border: var(--radio-island_border);
		background: var(--radio-island_background);

		transition: all var(--transition-time);
	}

	&:checked {
		&::before {
			border: var(--radio-island_border_checked);
			background: var(--radio-island_background_checked);
		}

		&:disabled::before {
			background: var(--radio_background_disabled);
		}
	}

	&:disabled {
		cursor: not-allowed;

		background: var(--radio_background_disabled);
		border: var(--radio_border_disabled);
		opacity: var(--radio_opacity_disabled);
	}
}