/* places for fonts and line heights */
:is(
	input:not(
		[type="checkbox"],
		[type="radio"],
		[type="range"],
		[type="color"]
	),
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"]
) {
	appearance: none;
	position: relative;
	display: inline;

	transition: all var(--transition-time);

	border: var(--text-input_border-width) solid var(--text-input_border-color);
	border-radius: var(--text-input_border-radius);
	font: var(--text-input_font);
	color: var(--text-input_color);
	background: var(--text-input_background);
	/* line-height: var(--line-height); */

	cursor: pointer;

	/* border-block-end: var(--text-input_border-block-end); */
	padding-inline: var(--text-input_padding-inline);
	padding-block: var(--text-input_padding-block);

	/* needs to be a parameter */
	/* padding-block: 1lh; */

	&:focus {
		outline: none;

		border: var(--text-input_border-width) solid
			var(--text-input_border-color);
		cursor: initial;
	}

	&:disabled {
		cursor: not-allowed;

		opacity: var(--opacity_disabled);
	}

	&::placeholder {
		/* colors */
	}
}
