:root {
	color-scheme: light dark;

	--background-color: light-dark(#f9f9f9, #17181A);
	--background-color-inverted: light-dark(#545454, #878787);

	--color-wf: light-dark(#3e3e3e, #f9f9f9);
	--color-inverted-wf: light-dark(#f9f9f9, #3e3e3e);
	--font-family-wf: "SF Mono", monospace;

	/* general */
	--transition-time: 150ms;
	--color: var(--color-wf);
	--line-height: 2rem;

	/* press (general press-able items) */
	--press_background: var(--background-color-inverted);
	--press_border: 1px solid var(--color-wf);
	--press_color: var(--color-wf);
	--press_font: 100 0.8rem/var(--line-height) var(--font-family-wf);
	--press_border-radius: 2px;
	--press_content_checked: '\2714';
	--press_content_indeterminate: '\2014';

	--press_background_hover: none;
	--press_border_hover: 1px solid var(--color-wf);
	--press_color_hover: var(--color-wf);

	--press_background_active: ;
	--press_border_active: ;
	--press_color_active: ;

	--press_background_disabled: ;
	--press_border_disabled: ;
	--press_color_disabled: ;
	--press_opacity_disabled: ;
	
	/* button */
	--button_padding-block: 0.5rem;
	--button_padding-inline: 1rem;

	/* checkbox */
	--checkbox_block-size: 1.5rem;
	--checkbox_check_color: var(--color-inverted-wf);
	--checkbox_check_background: var(--color-wf);

	/* switch / toggle */
	--switch_inline-size: ;
	--switch_island-size: ;

	/* text (general keyboard input) */
	--text-input_color: var(--color-wf);
	--text-input_font: var(--font-family-wf);
	--text-input_background: none;
	--text-input_border: var(--color-wf);
	--text-input_border-radius: 0;
	--text-input_border: 1px solid var(--color-wf);
	--text-input_border-block-start: ;
	--text-input_border-block-end: ;
	--text-input_border-inlne-start: ;
	--text-input_border-inlne-end: ;
	--text-input_border-start-start-radius: ;
	--text-input_border-start-end-radius: ;
	--text-input_border-end-start-radius: ;
	--text-input_border-end-end-radius: ;

	--text-input_padding-inline: ;
	--text-input_padding-block: ;

	/* text disabled */
	--text-input_background_disabled: ;
	--text-input_border_disabled: ;
	--text-input_opacity_disabled: ;
}
