:root {
	/* general */
	--transition-time: ;
	--color: ;
	--line-height: ;

	/* press (general press-able items) */
	--press_background: ;
	--press_border-radius: ;
	--press_border: ;
	--press_color: ;
	--press_border-radius: ;
	--press_font: ;
	--press_transition-time: ;
	--press_content_checked: ;
	--press_content_indeterminate: ;

	--press_background_hover: ;
	--press_border_hover: ;
	--press_color_hover: ;

	--press_background_active: ;
	--press_border_active: ;
	--press_color_active: ;

	--press_background_disabled: ;
	--press_border_disabled: ;
	--press_color_disabled: ;
	--press_opacity_disabled: ;
	
	/* button */
	--button_color: ;
	--button_font: ;
	--button_padding-block: ;
	--button_padding-inline: ;

	/* checkbox */
	--checkbox_block-size: ;

	/* switch / toggle */
	--switch_inline-size: ;
	--switch_island-size: ;


	/* text (general keyboard input) */
	--text-input_color: ;
	--text-input_background: ;
	--text-input_border: ;
	--text-input_border-radius: ;
	--text-input_border: ;
	--text-input_border-block-start: ;
	--text-input_border-block-end: ;
	--text-input_border-inlne-start: ;
	--text-input_border-inlne-end: ;
	--text-input_border-start-start-radius: ;
	--text-input_border-start-end-radius: ;
	--text-input_border-end-start-radius: ;
	--text-input_border-end-end-radius: ;

	--text-input_padding-inline: ;
	--text-input_padding-block: ;

	/* text disabled */
	--text-input_background_disabled: ;
	--text-input_border_disabled: ;
	--text-input_opacity_disabled: ;
}
