/* 

	First be explicit about properties.

	Then find groupings

*/

:root {
	color-scheme: light dark;

	--color-wf: light-dark(#3e3e3e, #f9f9f9);
	--color-inverted-wf: light-dark(#f9f9f9, #3e3e3e);
	--font-family-wf:
		"SF Pro", "San Francisco", "Roboto Flex", "Segoe UI Variable",
		Helvetica, sans-serif;

	--white: #f9f9f9;
	--blue: light-dark(hsl(209deg, 87%, 62%), hsl(209deg, 83%, 60%));
	--red: light-dark(hsl(11deg, 100%, 52%), hsl(11deg, 100%, 47%));

	/* general */
	--transition-time: 150ms;
	--line-height: 2rem;
	--opacity_disabled: 1;

	/* button */
	--button_padding-block: 0.5rem;
	--button_padding-inline: 1rem;
	--button_border-radius: 4px;
	--button_border-width: 1px;
	--button_font: 100 0.9rem sans-serif;

	--button_background: transparent;
	--button_border-color: var(--color-wf);
	--button_color: var(--color-wf);

	--button_border-color_hover: var(--color-wf);
	--button_background_hover: transparent;
	--button_color_hover: var(--color-wf);

	--button_border-color_active: var(--color-wf);
	--button_background_active: transparent;
	--button_color_active: var(--color-wf);

	/* primary button */
	--primary-button_border-color: var(--blue);
	--primary-button_background: var(--blue);
	--primary-button_color: var(--white);

	--primary-button_border-color_hover: var(--blue);
	--primary-button_background_hover: var(--blue);
	--primary-button_color_hover: var(--white);

	--primary-button_border-color_active: var(--blue);
	--primary-button_background_active: var(--blue);
	--primary-button_color_active: var(--white);

	/* desctructive button */
	--destructive-button_background: var(--red);
	--destructive-button_border-color: var(--red);
	--destructive-button_color: var(--white);

	--destructive-button_background_hover: var(--red);
	--destructive-button_border-color_hover: var(--red);
	--destructive-button_color_hover: var(--white);

	--destructive-button_background_active: var(--red);
	--destructive-button_border-color_active: var(--red);
	--destructive-button_color_active: var(--white);

	/* checkbox */
	/* structure */
	--checkbox_block-size: 1.5rem;
	--checkbox_border-width: 1px;
	--checkbox_border-radius: 0px;
	--checkbox_font: 100 var(--checkbox_block-size) sans-serif;
	--checkbox_content_checked: "\2714";
	--checkbox_content_indeterminate: "\2014";
	/* colors */
	--checkbox_background: transparent;
	--checkbox_background_checked: transparent;
	--checkbox_border-color: var(--color-wf);
	--checkbox_border-color_checked: var(--color-wf);
	--checkbox_color_checked: var(--color-wf);
	--checkbox_content_checked: "\2715";

	/* radio */
	--radio_block-size: 1.5rem;
	--radio_border-width: 1px;
	--radio_background: transparent;
	--radio_border-color: var(--color-wf);

	/* radio island */
	--radio-island_block-size: 0.75rem;
	--radio-island_color: transparent;
	--radio-island_border-color: transparent;
	--radio-island_background: transparent;

	--radio-island_color_checked: var(--color-inverted-wf);
	--radio-island_border-color_checked: var(--color-wf);
	--radio-island_background_checked: var(--color-wf);

	/* switch / toggle */
	--switch_inline-size: 3rem;
	--switch_block-size: 1.5rem;
	--switch_border-raidus: 1.5rem;
	--switch_border-color: var(--color-wf);
	--switch_border-width: 1px;
	--switch_background: transparent;
	--switch_border-color_checked: var(--color-wf);
	--switch_background_checked: transparent;

	/* switch island */
	--switch-island_inline-size: 0.5rem;
	--switch-island_block-size: 0.5rem;
	--switch-island_border-width: 1px;
	--switch-island_border-color: var(--color-wf);
	--switch-island_background: transparent;
	--switch-island_color_checked: var(--color-wf);
	--switch-island_content_checked: "";
	--switch-island_border-color_checked: var(--color-wf);
	--switch-island_background_checked: transparent;
	--switch-island_inline-size_checked: 1rem;
	--switch-island_block-size_checked: 1rem;

	/* text (general keyboard input) */
	/* --text-input_color: var(--color-wf);
	--text-input_font: var(--font-family-wf);
	--text-input_background: none;
	--text-input_border: 1px solid var(--color-wf);
	--text-input_border-radius: 0;
	--text-input_border-block-start: ;
	--text-input_border-block-end: ;
	--text-input_border-inlne-start: ;
	--text-input_border-inlne-end: ;
	--text-input_border-start-start-radius: ;
	--text-input_border-start-end-radius: ;
	--text-input_border-end-start-radius: ;
	--text-input_border-end-end-radius: ;

	--text-input_padding-inline: ;
	--text-input_padding-block: ; */

	/* text disabled */
	/* --text-input_background_disabled: ;
	--text-input_border_disabled: ;
	--text-input_opacity_disabled: ;
	*/
}
