:root {
	color-scheme: light dark;

	--color-wf: light-dark(#3e3e3e, #e9e9e9);
	--text-color-wf: light-dark(#3e3e3e, #e9e9e9);

	--color-inverted-wf: light-dark(#f9f9f9, #3e3e3e);
	--font-family-wf: "SF Pro", "San Francisco", "Roboto Flex", "Segoe UI Variable", Helvetica, sans-serif;


	/* general */
	--transition-time: 500ms;
	--color: var(--color-wf);
	--line-height: 2rem;


	/* BUTTON */
	--button_border: 2px solid var(--color-wf);
	--button_border-radius: 1lh;
	--button_font: 1rem var(--font-family-wf);
	--button_background: var(--color-inverted-wf);
	--button_color: 0.5rem;
	--button_padding-block: 0.5rem;
	--button_padding-inline: 1rem;

	/* button - optional, fallbacks to above */
	/* --button_border_hover: 2px solid var(--color-wf);
	--button_background_hover: var(--color-wf);
	--button_color_hover: 0.5rem; */

	--button_border_active: 2px solid var(--color-wf);
	--button_background_active: var(--color-wf);
	--button_color_active: 0.5rem;

	--button_border_disabled: 2px solid var(--color-wf);
	--button_background_disabled: var(--color-wf);
	--button_color_disabled: 0.5rem;
	--button_opacity_disabled: 0.5;


	/* CHECKBOX */
	--checkbox_block-size: 1.5rem;
	--checkbox_border: 2px solid var(--color-wf);
	--checkbox_border-radius: 4px;
	--checkbox_font: 0.9rem var(--font-family-wf);
	--checkbox_color: var(--color-inverted-wf);

	--checkbox_background_checked: var(--color-wf);
	--checkbox_content_checked: '\2714';
	--checkbox_content_indeterminate: '\2014';

	--checkbox_border_disabled: 2px solid var(--color-wf);
	--checkbox_background_disabled: var(--color-wf);
	--checkbox_color_disabled: ;


	/* SWITCH / TOGGLE */
	--switch_inline-size: 3rem;
	--switch_block-size: 1.75rem;
	--switch_border-radius: 1.75rem;
	--switch_border: 2px solid var(--color-wf);
	--switch_background: none;

	--switch-island_inline-size: 0.5rem;
	--switch-island_block-size: 0.5rem;
	--switch-island_color: var(--color-wf);
	--switch-island_font: 0.9rem var(--font-family-wf);
	--switch-island_border-radius: 50%;
	--switch-island_border: 2px solid var(--color-wf);
	--switch-island_background: none;

	--switch-island_inline-size_checked: 1rem;
	--switch-island_block-size_checked: 1rem;
	--switch-island_content_checked: '\2714';
	--switch-island_border_checked: 2px solid var(--color-wf);
	--switch-island_color_checked: var(--color-inverted-wf);
	--switch-island_background_checked: var(--color-wf);


	/* RADIO */
	--radio_border: 2px solid var(--color-wf);
	--radio_background: none;
	--radio_block-size: 1.5rem;

	--radio-island_background: none;
	--radio-island_block-size: 0.9rem;
	--radio-island_border: none;

	--radio-island_border_checked: none;
	--radio-island_background_checked: var(--color-wf);


	/* TEXT INPUT (general keyboard input) */
	--text-input_color: var(--color-wf);
	--text-input_font: 1rem var(--font-family-wf);
	--text-input_background: light-dark(#efefef, #484848);
	--text-input_border: none;
	--text-input_border-radius: 1lh;
	--text-input_border-block-start: ;
	/* --text-input_border-block-end: 1px solid light-dark(#2a2a2a, #efefef); */
	--text-input_border-inlne-start: ;
	--text-input_border-inlne-end: ;
	--text-input_border-start-start-radius: ;
	--text-input_border-start-end-radius: ;
	--text-input_border-end-start-radius: ;
	--text-input_border-end-end-radius: ;
	--text-input_padding-inline: 1lh;
	--text-input_padding-block: 0.5lh;


	/* text disabled */
	--text-input_background_disabled: ;
	--text-input_border_disabled: ;
	--text-input_opacity_disabled: ;

	/* DIGIT INPUT */
	--number-input_font: 1rem monospace, monospace;
	--number-input_font: 1rem var(--font-family-wf);

	/* PROGRESS */
	--progress_border: 2px solid var(--color-wf);
	--progress_border-radius: 1lh;
}